<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <!-- added the image here for testing -->
                <img src="img/Kazi.jpg" alt="Amir Kazi Main Photo" height="40%" width="40%" style="margin-bottom: 1.3em">
                <p class="text-faded">I'm a data scientist, civic technologist, and life-long language learner. Naturally,
                  I specialize in solving technical problems, creating scalable solutions, & communicating between technical &
                  non-technical teams.
               </p>
                <p class="text-faded">
                  I am currently a Principal Operations Data Analyst working with the Chicago Government,
                  where I work on bringing policy ideas to life, and increasing transparency & efficiency by using data.
                  I am also a lecturer at the Lahore University of Management Sciences where
                  I have designed & introduced a new class on Programming & Data Analysis
                  exclusively for students of the Humanities & Social Sciences.
                </p>
                <p class="text-faded">Technologies: Python | SQL | R | Git | Tableau</p>
                <p class="text-faded">Languages: English | Urdu | Sindhi | Spanish | French</p>
                <a href="https://www.linkedin.com/in/amirakhterkazi/" target=_blank class="btn btn-default btn-xl">linkedin</a>
            </div>
        </div>
    </div>
</section>
