<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-14 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <h3>Principal Operations Data Analyst</h3>
                    <h4>Chicago Police Department</h4>
                    <p class="text-muted"><a href="" target=_blank></a>Administering & Maintaining Tableau Servers. Using Python & Tableau for creating data pipelines & for data analysis. </p>
                </div>
            </div>
            <div class="col-lg-14 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <h3>Adjunct Faculty - Programming & Data Analysis</h3>
                    <h4>Lahore University of Management Sciences</h4>
                    <p class="text-muted"><a href="" target=_blank></a>Teaching Python programming & Data Analysis to Humanities & Social Science Undergraduates</p>
                  </div>
            </div>
            <div class="col-lg-14 col-md-6 text-center" style="margin-top:50px;" >
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <h3>Mayoral Fellow - Data Science</h3>
                    <h4>Chicago Mayor's Office</h4>
                    <p class="text-muted"><a href="" target=_blank></a> Created an Extract-Transform-Load (ETL) pipeline using Python & SQL, liasoned between tech & policy teams, and carried out large scale data analysis & visualization for various governmental departments. </p>
                  </div>
            </div>
            <div class="col-lg-14 col-md-6 text-center" style="margin-top:50px;" >
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <h3>Consultant - Social Media Analytics & Marketing</h3>
                    <h4>Polsky Center for Entrepreneurship & Innovation</h4>
                    <p class="text-muted"><a href="" target=_blank></a> Consulted small & minority owned businesses on increasing their digital presence, and presented marketing & growth strategies. </p>
                  </div>
            </div>
            <div class="col-lg-13 col-md-6 text-center" style="margin-top:50px;" >
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <h3>Marketing Associate - Business Analytics & CSR</h3>
                    <h4>Reckitt Benckiser</h4>
                    <p class="text-muted"><a href="" target=_blank></a>Analyzed country wide marketing and sales data to provide assessments of the campaigns & recommendations for future growth.</p>
                  </div>
            </div>
            <div class="col-lg-13 col-md-6 text-center" style="margin-top:50px;" >
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <h3>Last thing</h3>
                    <h4>Here</h4>
                    <p class="text-muted"><a href="" target=_blank></a>random text</p>
                  </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
